.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.list-item {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.click {
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  cursor: pointer;
}